body{
    background-color: #083b4c;
}

.container {
    max-width: 1000px;
}

#griglia {
    gap: 60px;
}

#griglia .square {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 80px;
    border-radius: 15px;

    border: solid 1px black;
}

.square:last-child{
    align-self: flex-start;
}

.square.buzz {
    background-color: orangered;
}

.square.fizz {
    background-color: olivedrab;
}

.square.fizzbuzz{
    background-color: steelblue;
}

